.mainPage {
    background: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.content {
    padding-left: 31px;
    padding-top: 19px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 17px;
}
.content__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.count {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.loading {
    width: 80px;
    height: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    display: inline-block;
    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid black;
        border-color: black transparent black transparent;
        animation: loading 1.2s linear infinite;
    }
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}